[project]
	description = lightweight template engine for objective-c
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xu han (xhan)
[access "refs/for/refs/*"]
	read = group user/xu han (xhan)
	push = group user/xu han (xhan)
	label-Code-Review = -2..+2 group user/xu han (xhan)
	label-Verified = -1..+1 group user/xu han (xhan)
	rebase = group user/xu han (xhan)
	removeReviewer = group user/xu han (xhan)
	submit = group user/xu han (xhan)
[access "refs/heads/*"]
	read = group user/xu han (xhan)
	create = group user/xu han (xhan)
	push = +force group user/xu han (xhan)
	pushMerge = group user/xu han (xhan)
[access "refs/tags/*"]
	push = +force group user/xu han (xhan)
	pushTag = group user/xu han (xhan)
	pushSignedTag = group user/xu han (xhan)
